<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>QUESTION 1</title>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/style.css" rel="stylesheet">
</head>
<body>
	<br>
</br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-4 column4"></div>
			<div class="col-md-4 column5"><form> <h1>Vem är du?</h1><br>
  <input type="radio" name="gender" value="me" checked> me<br>
  <input type="radio" name="gender" value="myself"> myself<br>
  <input type="radio" name="gender" value="I"> I<br><br>
  <input type="button" onclick="alert('Hello World!')" value="Click Me!"></form></div>
			<div class="col-md-4 column6"></div>
		</div>