<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>QUIZ TIME!!</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/style.css">

</head>
<body class="background1">
<div class="container1">
			<div class= "col-md-12 column0">	
	<h1>Yay! It's quiz o´clock</h1>
	<p>Vad vore livet utan glass? Här kan du testa dina glass skills.</p>

<img src="/static/take-quiz.gif" alt="hello">

</div>	
	
<div class="container2">	
	{% for quiz in quizzes %}
		<div class= "col-md-4 column1"><h3>{{ quiz.name }}</h2>
                <p>{{ quiz.description }}</p>
			<button><a href="{% url 'quiz_page' quiz.quiz_number %}">Starta quiz!</a>
	</div>
	{% endfor %}
</div>	


	<script src="https://ajax.googleapsis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/static/js/bootstrap.min.js"></script>
	</div>
</body>
</html>

