body {
	background: white;
	margin: auto;
	width: 100%;
	padding: 5px
}
.column0 {
	text-align: center;
	background: white;
	margin: auto;
    width: 70%;
}
.column1 {
	text-align: center;
	background: pink;
	height: auto;
	max-width: 300px;
    margin: auto;
}
.column2 {
	text-align: center;
	background: white;
	height: auto;
	width: 400px;
	margin: auto;
}
.column3 {
	text-align: center;
	background: white;
	height: auto;
	width: 400px;
    margin: auto;
}
.column5 {
	text-align: center;
	background: grey;
	height: auto;
	width: 400px;
    margin: auto;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

img {
	width: 100%;
	margin: 0 auto;
}